@font-face {
    font-family: "AvenirNext";
    src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "AvenirNext";
    src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
}
