.next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    // width: 90%;

    &__title{
        font-size: 1rem;
        color: #AFAFAF;
        width: 100%;
    }
    &__video-area{
        width: 100%;
    }
}