@use '../../Styles/Partials/mixins.scss' as *;
@use '../../Styles//Partials/typography' as *;

.home-page{
    display: flex;
    flex-direction: column;

    &__bottom{
        
        @include desktop{
            display: flex;
        }
    }
}